.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    width: 100%;
    max-width: 1540px;
}

/* ユーティリティバー（検索・ナビエリア） */
.header__utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ロゴ */
.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

/* 検索フォーム */
.search-form__input {
    padding: 10px;
    font-size: 18px;
    width: 300px;
}

/* ナビゲーション */
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
}

.header__nav-link {
    color: #fff;
    text-decoration: none;
}

.header__nav-button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header__nav-link--sell {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

/* ======== タブレット対応 (768px ～ 850px) ======== */
@media (max-width: 850px) {
    .header__inner {
        padding: 15px;
    }

    .header__utilities {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header__nav {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
    }

    .header__nav-link,
    .header__nav-button {
        font-size: 16px;
    }

    .search-form__input {
        font-size: 16px;
        width: auto;
    }
}

/* ======== スマホ対応 (767px以下) ======== */
@media (max-width: 767px) {
    .header__inner {
        padding: 10px;
        text-align: center;
    }

    .header__utilities {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__logo img {
        margin: 10px;
    }

    .header__nav {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .header__nav-link,
    .header__nav-button {
        font-size: 14px;
        padding: 5px;
    }

    .header__nav-link--sell {
        font-size: 14px;
        padding: 5px;
    }

    .search-form__input {
        width:  250px;
        margin: 10px;
        font-size: 14px;
        padding: 8px;
    }
}