

.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities nav {
    width: auto;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

