/* 商品詳細のコンテナ */
.product-detail {
    display: flex;
    flex-wrap: wrap;
    /* 複数の要素を折り返して表示 */
    gap: 30px;
    /* アイテム間にスペースを追加 */
    margin: 30px;
}

/* 画像のスタイル */
.product-detail__image {
    flex: 1 1 45%;
    /* 左側に画像を表示 */
    max-width: 100%;
    text-align: center;
}

.product-detail__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* 画像を枠内に収める */
}

/* 右側の情報部分 */
.product-detail__info {
    flex: 1 1 50%;
    /* 右側に情報を表示 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* 商品名のスタイル */
.product-detail__name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 価格のスタイル */
.product-detail__price {
    font-size: 24px;
}

/* いいね・コメントアイコン */
.product-detail__icon{
    display: flex;
    margin: 0 20px;
    align-items: center;
}

.product-detail__favorites,
.product-detail__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    width: 50px;
    height: 100px;
    justify-content: center;
}

.favorite-icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.product-detail__sold {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
}

/* 購入ボタンのスタイル */
.product-detail__purchase-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

/* Soldのスタイル */
.product-detail__sold {
    color: red;
    font-size: 18px;
    margin-top: 10px;
}

.product-detail__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.product-detail__table td {
    padding: 12px;
    border: none;
    font-size: 16px;
}

.product-detail__categories {
    display: flex;
    /* 横並びにする */
    gap: 10px;
    /* アイテム間のスペース */
}

.product-detail__category {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 2px 10px;
}




.product-detail__comment-title{
    color: #757575;
}

.comment__user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.comment__user-name{
    font-weight: bold;
    margin-left: 10px;
}

.comment__text{
    background-color: #ddd;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
}


.comment__form-title{
    margin: 5px;
}

.comment__form{
    width: 100%;
}

.comment__form textarea {
    width: 100%;
    height: 100px;
}

.product-detail__comment-submit {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}


.error-message {
    color: red;
}
