.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 18px;
}

.form {
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
}

.form__group {
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.form__label {
    display: block;
    font-weight: bold;
}

.form__input {
    width: 100%;
    padding: 5px;
}

.submit-btn {
    width: 100%;
    border: none;
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
}

/* ログインリンク */
.login-link {
    font-size: 17px;
    color: cornflowerblue;
    text-decoration: none;
}

.form__error {
    color: red;
}



/* PC用レスポンシブ (1400px - 1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {
    .header__inner {
        padding: 10px 30px;
    }

    .container {
        text-align: center;
        margin: 0 auto;
        /* レスポンシブ調整用に変更 */
        padding: 0 15px;
        max-width: 1230px;
        width: 60%;
    }

    .form {
        margin-left: 10px;
        width: 80%;
    }
}

.profile__image {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__image img{
    border-radius: 50%;
}

.form__file-input {
    display: none;
}

.form__file-label {
    padding: 5px 10px;
    color: red;
    border-radius: 4px;
    border-style: solid;
    border-color: red;
    cursor: pointer;
    position: relative;
    left: 70%;
    top: -100px;
}

.default-profile,
.rounded-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* 画像が歪まないように調整 */
}

/* タブレット用レスポンシブ (768px - 850px) */
@media (min-width: 768px) and (max-width: 850px) {
    .form__file-label {
        padding: 5px 10px;
        color: red;
        border-radius: 4px;
        border-style: solid;
        border-color: red;
        cursor: pointer;
        display: block;
        width: 50%;
        text-align: center;
        margin: auto;
        left: auto;
        top: auto;
    }
}

/* モバイル用レスポンシブ (767px以下) */
@media (max-width: 767px) {
    .form__file-label {
        padding: 5px 10px;
        color: red;
        border-radius: 4px;
        border-style: solid;
        border-color: red;
        cursor: pointer;
        display: block;
        width: 50%;
        text-align: center;
        margin: auto;
        left: auto;
        top: auto;
    }
}