/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode




# 追加
.env.testing

# データベース関連
*.sql
*.sql.gz
*.dump
/db_data/
docker/mysql/data/
docker/nginx/logs/

# Docker関連の不要ファイル
docker-compose.override.yml
docker/logs/
docker/tmp/

# macOSが自動生成する隠しファイル
.DS_Store

# 共有したい画像ファイル
!storage/app/public/icons/
!storage/app/public/images/